<router-outlet></router-outlet>
<div id="header">
  Loopy Surface Surfers
</div>

<div class='container' id='webgl-container' (window:resize)="onResize($event)">
</div>
<div id="scene-select">
  <span [hidden]="hideSpan1" id='outer-scene-select'>
  <label>Select Outer Scene:<br/></label>
    <input name="outerScene" type="radio" [(ngModel)]="model.outerScene" value="torus"
       [checked]="model.outerScene==torus" />torus<br/>
    <input name="outerScene" type="radio" [(ngModel)]="model.outerScene" value="cyl"
       [checked]="model.outerScene==cyl" />cyl<br/>
    <input name="outerScene" type="radio" [(ngModel)]="model.outerScene" value="plane"
       [checked]="model.outerScene==plane" />plane<br/>
    <input name="outerScene" type="radio" [(ngModel)]="model.outerScene" value="cube"
       [checked]="model.outerScene==cube" />cube<br/>
    <input name="outerScene" type="radio" [(ngModel)]="model.outerScene" value="pyramid"
       [checked]="model.outerScene==pyramid" />pyramid<br/>
    <input name="outerScene" type="radio" [(ngModel)]="model.outerScene" value="sphere"
       [checked]="model.outerScene==sphere" />sphere<br/>
    <br/>
 </span>
</div>
<div id='config-div'>
  <!--<p></p> -->
  <label><br/>Game Configuration:</label><br/>
  <span id='config'>
  <label><input type="checkbox" id="cbox1"
    [(ngModel)]="model.enableCameraTracking" value="camera_tracking_on"
    [checked]="model.enableCameraTracking==true">Enable Camera Tracking</label><br>
  <label><input type="checkbox" id="cbox2"
    [(ngModel)]="model.enableGridHelpers" value="grid_helpers_on"
    [checked]="model.enableGridHelpers==true">Enable Grid Helpers</label><br>
  </span>
</div>
<div>
  <p>
    <button (click)="startButtonClick(input, $event)">Start Game</button>
  <br/><br/>
</div>
