Torroids.
<!-- <div class='container' id='webgl-container'  (click)='kbdEventHandler($event)' (keydown)='kbdEventHandler($event)' uabindex="1"> -->
<div class='container' id='webgl-container'>
  <!-- original canvas<br/>
  <canvas width="100" height="100" id="scene-view" (keydown)='kbdEventHandler($event)' ></canvas> -->
  <p>
    <button (click)="startButtonClick(input, $event)">Start Game</button>
  <br/><br/>
  <!--webgl-canvas<br/>
  <app-webgl-canvas></app-webgl-canvas> -->
  <!-- <p>
    <button (click)="debugButtonClick(input, $event)">debug info</button>
  <br/><br/> -->

</div>
